.container {
  height: 700px;
  width: 900px;
  margin: 30px auto;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
}

#card1 {
  height: 600px;
  width: 500px;
  background-color: #cddcdc;
  background-image: radial-gradient(
      at 50% 100%,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.25) 0%,
      rgba(0, 0, 0, 0.25) 100%
    );
  background-blend-mode: screen, overlay;
  justify-content: center;
  border-radius: 20px;
  border: none;
  margin: 30px 30px 30px 30px;
}

#city-search {
  font-family: "Cabin", sans-serif;
  font-style: normal;
  font-size: 18px;
}

#search-btn {
  box-shadow: 0px 1px 0px 0px #9fb4f2;
  background-color: #84a9ac;
  border: 1px solid #679b9b;
  border-radius: 6px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Cabin", sans-serif;
  font-size: 15px;
  font-weight: normal;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px -1px 0px #283966;
}

#search-btn:hover {
  color: #fff;
  background: #679b9b;
}

#current-btn {
  box-shadow: 0px 1px 0px 0px #9fb4f2;
  background-color: #84a9ac;
  border: 1px solid #679b9b;
  border-radius: 6px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Cabin", sans-serif;
  font-size: 15px;
  font-weight: normal;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px -1px 0px #283966;
}

#current-btn:hover {
  color: #fff;
  background: #679b9b;
}

.today {
  font-family: "Cabin", sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 12px;
  color: #204051;
}

.city {
  font-family: "Cabin", sans-serif;
  font-size: 40px;
  font-weight: 600px;
  padding-top: 20px;
  line-height: normal;
  color: #ffffff;
  text-shadow: 2px 2px 4px #000000;
}

.country {
  font-family: "Cabin", sans-serif;
  font-size: 20px;
  font-weight: 400px;
  padding-bottom: 20px;
  color: #ffffff;
  text-shadow: 2px 2px 4px #000000;
}

.btn-secondary {
  background-color: #84a9ac;
  border: 1px solid #679b9b;
  color: #ffffff;
  cursor: pointer;
  font-family: "Cabin", sans-serif;
  font-size: 12px;
}

.btn-group {
  padding-bottom: 10px;
}
.btn-secondary:hover {
  background-color: #679b9b;
  border: 1px solid #679b9b;
  color: #ffffff;
  cursor: pointer;
}

h3 {
  font-family: "Cabin", sans-serif;
  font-style: normal;
  font-size: 12px;
  padding-top: 10px;
}

#other-stats {
  font-family: "Cabin", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  padding-top: 5px;
  line-height: normal;
  text-align: center;
}
#temperature {
  font-family: "Cabin", sans-serif;
  font-weight: bold;
  font-size: 50px;
  padding-top: 5px;
  line-height: normal;
  text-align: center;
}

.temperature-description {
  font-family: "Cabin", sans-serif;
  font-size: 15px;
  line-height: 14px;
  text-align: center;
}

.rain {
  max-width: 70px;
  padding-top: 15px;
  align-content: center;
}

#specifics {
  font-family: "Cabin", sans-serif;
  font-size: 12px;
  line-height: 14px;
  padding: 10px;
  text-align: center;
}

.specifics-values {
  font-family: "Cabin", sans-serif;
  font-size: 12px;
  font-style: italic;
  line-height: 14px;
}

#description {
  text-transform: capitalize;
  font-style: bold;
}
ul {
  font-family: "Cabin", sans-serif;
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 5px;
  line-height: normal;
  text-align: left;
  list-style-type: none;
}

#row {
  margin: 30px;
  background-color: #ffffff;
  border: none;
  border-radius: 20px;
  padding: 5px 5px;
}

#window {
  width: 50px;
  height: 50px;
  margin-top: 20px;
}

.card-footer {
  font-family: "Cabin", sans-serif;
  font-size: 12px;
  text-align: center;
  line-height: normal;
}
